.main-title{
    background-color: var(--light-black);
    padding: 20px 0px;
    
}
.section-inputs form {
    width: 90%;
    margin: 48px auto;
    padding: 32px 10px;
}

.section-inputs label{
    font-size: 16px;
}

.section-inputs input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin-top: 10px;
}

input[type="submit"] {
    padding: 12px 70px;
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    border: 3px solid black;
    background-color: white;
    color: black;
    transition: 0.5s;
}