@media (max-width:800px){
.section-graficos{
    width: 109%;
    position: relative;
    left: -58px;
    display: block;
}
.section-navbar{
    width: 50%;
}
.section-navbar.collapsed nav  {
    display: none; /* Esconde o texto dos itens do nav */
}
.section-navbar.collapsed{
    min-height: 87px;
    max-height: 87px;
    
}
.section-navbar img{
    width: 20px;
    height: 20px;
    margin: auto 15px;
}
.main-title{
    height: 87px;
}
.section-inputs input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    margin-top: 10px;
}

}