.section-table{
    width: 85vw!important;
}
.small-screen{
    width: 95vw!important;
}
.table-container{
    width: 90%;
    margin: 10px auto;
    overflow-x: auto; 
    max-width: 90%;
}
.table-container table{
    width: 100%;
    text-align: center!important;
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%!important;
}
.table-container thead{
    background-color: black;
    color: white;
}
.table-container table thead{
    border-radius: 5px;
}
.table-container thead tr th{
    padding: 16px;
    text-align: center;

}
.table-contaider td{
    margin-right: 3px;
}
.table-container th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table-container th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.table-container tbody tr td{
    padding: 16px 0px;
}
.table-container tr:nth-child(even) {
    background-color: #DBE3FF;
}
/*Select*/
.div-select-tables{
    margin: 10px auto;
    width: 90%;
    margin-top: 30px;
}
.select-tables{
   padding: 5px 15px;
   cursor: pointer;
}

/*INPUTS*/
.table-input-search{
    width: 90%;
    margin:0px auto;
    border: 1px solid #DADADA;

}
.table-input-search input{
    width: 89%;
    border: none;
    padding: 10px;
    padding-left: 40px;
    background-image: url(../../assets/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    font-size: 16px;
}
.table-input-search button{
    width: 10%;
    border: none;
    padding: 10px;
    margin: 5px 0px;
    text-align: left;
    cursor: pointer;
    background-image: url(../../assets/Filtrar.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 16px;
    font-size: 16px;
    color: #a9a9a9;
    border-radius: 5px;

}
.table-input-search button:hover{
    filter: brightness(60%);
    transition: 0.3s;
}
/*Select COlumns*/
.select-column{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 32px 0px;
}
.select-column select{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
