#chartContainer{
    display: grid;
    width: 90%;
    grid-template-columns: 30% 30% 39%; /* Define três colunas de largura igual */
    gap: 10px;
    height: 280px;
    margin: 64px auto;
    
}
#pieChartContainer{
    width: 100%;
}
#pieChart{
    width: 50%!important;
    height: 60%!important;
    margin: 0 auto;
}
.legend-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 10px auto;
}
.legend-container li{
    width: 45%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.legend-item{
    display: flex;
}
.legend-item span {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
}
.legend-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend-container li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-container span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*MineTestLines*/

#chartContainerMineTestLines{
    display: grid;
    width: 90%;
    grid-template-columns: 30% 30% 39%; /* Define três colunas de largura igual */
    gap: 10px;
    height: 280px;
    margin: 64px auto;
}
#pieChartContainerMineTest{
    width: 100%;
}
#pieChartMineTest{
    width: 50%!important;
    height: 60%!important;
    margin: 0 auto;
}
