.pagination{
    width: 90%;
    margin: 30px auto;
    text-align: center;
}
.pagination a{
    text-decoration: none;
    margin-right: 15px;
    padding: 10px;
    background-color: black;
    color: white;
}
.pagination a:hover{
    transition: 0.7s;
    background-color: white;
    color: black;
    outline: 1px solid black;
}
.pagination a.active {
    background-color: white;
    color: black;
    outline: 1px solid black;
}